@use "@material/theme" with (
  $primary: #00bcd4,
  $secondary: #f44336,
  $background: #c7c7c7,
);
@use '@material/button/mdc-button';
@use '@material/button';
@use "@material/drawer";
@use "@material/list";
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/card";
@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/select/styles";
@use "@material/snackbar/mdc-snackbar";
@use "@material/image-list/mdc-image-list";
@use "@material/image-list";

@include card.core-styles;
@include textfield.core-styles;

html { 
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px auto;
}

.app-bar {
  position: absolute;
  background-color: #026977;
}

.mdc-top-app-bar {
  z-index: 7;
  @include icon-button.core-styles;
}

section {
  text-align: center;
}

.content {
  margin: 10rem auto;
  padding-bottom: 20rem;
  text-align:center;
  align-items: normal;
}

.sample-content--hidden {
  display: none;
}

.mdc-tab {
    background-color: #9cf3ff;
}

.mdc-tab__content .mdc-tab__text-label {
    color: black;
}

.mdc-text-field {
  width: 50%;
  margin: 1rem auto;

}

.mdc-select{
  width: 50%;
}


.button {
  margin-top: 1rem auto;
}

.mdc-snackbar__actions .mdc-button__label {
  color: #0095a8;
}

body{
background-color: #f2f2f2;
;
}

.mdc-top-app-bar__title{
 color: rgb(18, 16, 16);
 width: 96%;
}

.card {
  height: 296px;
  width: 296px;
  padding: 16px;
  background-position:center;
  background-size: 250px 250px;
  background-repeat: no-repeat;
  background-position: 50% 75% ;
  background-color: #d6f0f8;
  box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  border: 10px solid white;
}

.mdc-card {
  height: 350px;
  width: 350px;
  padding: 16px;
  background-image: url("https://media.americateve.com/p/67a28c1514b9a520e82c3fab6030a4eb/adjuntos/179/imagenes/008/234/0008234807/1200x1200/smart/bayc2jpg.jpg");
  background-position:center;
  background-size: 250px 250px;
  background-repeat: no-repeat;
  background-position: 50% 75% ;
  background-color: #d6f0f8;
  box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  border: 10px solid white;
}

.mdc-card-prueba{
  height: 296px;
  width: 296px;
  padding: 16px;
  background-image: url("https://phantom-elmundo.unidadeditorial.es/e925920ed3b0ea5f44f1d9472a7ccb9a/resize/1200/f/jpg/assets/multimedia/imagenes/2021/10/25/16351831527188.jpg");
  background-position:center;
  background-size: 250px 250px;
  background-repeat: no-repeat;
  background-position: 50% 75% ;
  background-color: #d6f0f8;
  box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  border: 10px solid white;

}

.mdc-card-prueba2{
  height: 296px;
  width: 296px;
  padding: 16px;
  background-image: url("https://www.publimetro.com.mx/resizer/CocGeimTnro-D1hoH3ZC1Nrs1IY=/arc-photo-metroworldnews/arc2-prod/public/RSNJQRDEKNBMRC3Z4SYV64SZT4.jpg");
  background-position:center;
  background-size: 250px 250px;
  background-repeat: no-repeat;
  background-position: 50% 75% ;
  background-color: #d6f0f8;
  box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  border: 10px solid white;

}

.mdc-card__action-icons{
  text-align: center;
}

.my-image-list {
  @include image-list.standard-columns(5);
}
